<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="showCheckbox = !showCheckbox">Toggle Checkbox</button>
  <div class="my-flex">
    <div class="child-1">
      <cm-select *ngIf="showCheckbox" [items]="items" [selected]="selected" [selectedIds]="selectedIds"
      [options]="{filter: true}" [loading]="false"
      (search)="onSearch($event)" (changed)="onChange($event)" (idsChanged)="onIdsChanged($event)" (idsChanged)="onIdsChanged($event)"  (idsSelection)="onIdsSelection($event)">
      </cm-select>
    </div>
    <div class="child-2">
      <cm-select *ngIf="showCheckbox" [items]="items" [selected]="selected1" [selectedIds]="selectedIds1"
        [options]="{filter: true}" [loading]="false"
        (search)="onSearch($event)" (changed)="onChange($event)" (idsChanged)="onIdsChanged($event)"
        (idsSelection)="onIdsSelection($event)">
      </cm-select>
    </div>
  </div>
</div>

